<nav>
  <ul>
    <li><a href="/">Inicio</a></li>
    <li><a href="/noticias">Noticias</a></li>
    <li><a href="/descubre">Descubre</a></li>
    <li><a href="/contacto">Contacto</a></li>
    <li><a href="/inicio-sesión">Inicio Sesión</a></li>
  </ul>
</nav>
<div class="nav-space"></div>
