.fixed-bg-1 {
  height: 300px;
  width: 100%;
  background-image: url("../img/static-bg-04.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.fixed-bg-2 {
  height: 300px;
  width: 100%;
  background-image: url("../img/static-bg-03.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}
