.static-background {
  width: 100%;
  height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#static-1{background-image: url('../img/bg-tiangle.jpg');}
#static-3{background-image: url('../img/bg-forest.png');}
#static-2{background-image: url('../img/bg-nature.jpg');}
