$primaryColor: #424242;
$primaryLightColor: #6d6d6d;
$primaryDarkColor: #1b1b1b;
$secondaryColor: #2962ff;
$secondaryLightColor: #768fff;
$secondaryDarkColor: #0039cb;
$primaryTextColor: #ffffff;
$secondaryTextColor: #d6d6d6;
